/*------General ------*/
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: slategrey;
    color: white;
}
/*--Buttons--*/
.submitCom, 
.reportButton, 
.connectAdmin ,
.disconnectAdmin,
.submitPost,
.confirm,
.cancel,
.confirmCom{
    background: silver;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px;
    text-shadow: rgb(93, 93, 93) 1px 0px 0px, rgb(93, 93, 93) 0.533333px 0.833333px 0px, 
        rgb(93, 93, 93) -0.416667px 0.916667px 0px, rgb(93, 93, 93) -0.983333px 0.133333px 0px, 
        rgb(93, 93, 93) -0.65px -0.75px 0px, rgb(93, 93, 93) 0.283333px -0.966667px 0px, 
        rgb(93, 93, 93) 0.966667px -0.283333px 0px;
}
.submitCom:hover, 
.reportButton:hover, 
.connectAdmin:hover,
.disconnectAdmin:hover,
.submitPost:hover,
.confirm:hover,
.cancel:hover,
.confirmCom:hover{
    border: #696969 3px solid;
    margin: -3px;
}

/*--Header--*/
.header {
    text-align: center;
    background: url(img/alaska.jpg) scroll no-repeat;
    padding: 150px 0;
}
#titleBlog{
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

/*--Navigation Menu--*/
.menu ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.menu li {
    list-style: none;
    margin: 20px 10px 0 10px;
}
.menu a{
    color: white;
    font-size: 2rem;
    text-shadow : 1px 1px 1px black;
}
.menu a:hover{
    text-decoration: underline;
}

/*--Footer--*/
.footer{
    text-align: center;
    margin-top: 50px;
    background: #4d7dc5;
    padding: 20px;
}
.textFooter {
    display: flex;
    justify-content: space-around;
}
.adminLink, .adminLink:hover {
    color: white;
}


/*------ Content ------*/
/*--Home--*/
.presentation{
    text-align: center;
    font-size: 2rem;
    padding: 20px 0 40px 0;
}
.separation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}
.separation:before {
    content: "";
    height: 1px;
    background: white;
    position: absolute;
    top: calc(50% - 1px);
    width: 240px;
    left: calc(50% - 120px);
}
.circle {
    background: #72a6e2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid #708090 5px;
    position: relative;
}

.titlePost {
    color: #4d7dc5;
    background: white;
    padding: 4px;
}

.datePost {
    font-style: italic;
    color: silver;
}

.textPost {
    border-bottom: solid 1px;
    padding: 20px 0 5px 0;
}

.post {
    margin-bottom: 10rem;
}

.linkPost {
    color: silver;
    font-size: 2rem;
    font-weight: bold;
}

.post a:hover {
    text-shadow : 1px 1px 1px black;
    text-decoration: none;
}

.pages a {
    color: silver;
    font-size: 2rem;
}

.contact {
    font-size: 2rem;
}
.titleContact {
    text-align: center;
    margin: 40px 0 40px 0;
}
.textContact {
    text-align: justify;
}

.onePostTitle {
    text-align: center;
    font-size: 2.3em;
    margin: 30px 0 30px 0;
    border-bottom: dashed 1px;
}
.postContent {
    padding-bottom: 10px;
}
.onePostDate {
    color: silver;
    font-size: 1.6rem;
}

.commentForm {
    padding: 50px 0 50px 0;
     border-top: dashed 1px;
}
.commentForm h2 {
    padding-bottom: 20px;
}
.help-block {
    color: silver;
}
.comment {
    border-bottom: solid 1px;
    padding: 3px 10px;
    border-left: solid 1px;
    margin: 20px 0;
}
.comment h4{
    font-size: 1.2rem;
}
form{
    text-align: center;
}
.pages{
    text-align: center;
}
.warning {
    color: firebrick;
    font-weight: bold;
}
.moderate{
    font-style: italic;
    color: silver;
}


/*--Admin--*/
.homeAdmin {
    text-align: center;
    padding-bottom: 30px;
}
.homeConnectAdmin {
    text-align: center;
}
.resportedComList {
    text-align: center;
    padding: 30px 0 30px 0;
}
.actionLink {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actionLink a {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px
}
/*--Admin blog--*/
.adminManagement {
    padding: 2px 5px;
    border: solid 1px;
    border-top: none;
}
.adminManagement a, .comAdminManagement a{
    color: #212528
}
.adminManagement a:hover, .comAdminManagement a:hover{
    text-shadow: none;
    text-decoration: underline;
}

/*--post form--*/
.messageAdmin, .newArticle{
    text-align: center;
}
.newArticle #title, .newArticle #author{
    color: #212528;
}

/*--Confirmation page--*/
.buttonsConfirmation{
    display: flex;
    justify-content: space-around;
    margin-top: 30px
}

/*Media Queries*/

@media all and (max-width: 1024px){
    
}

@media all and (max-width: 768px){
    .menu ul{
        display: block;
    }
}
